body {
    color: aliceblue;
    margin-left: 5cm;
    text-align: left ;
    
}

.container {
    display: flex;
    align-items: center;
    
}


.mi-foto {
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 2cm;
}

.soy-yo {
    text-align: justify;
    font-size: x-large;
    margin-right: 5cm;
}
.princ-box {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
}
.listas {
    margin: 20px;
}
.listas-tr {
    display: flex;
    justify-content: space-around;
}
.list-container {
    margin: 0 10px;
    flex: 1;
}
.list-container h3 {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
.list-container ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: center;
}
.list-container li {
    color: azure;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.image-container {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista-imagen {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.list-box {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}
   

